<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    GIZ Cameroun Organigram  : {{main.employees.length}}  //  {{employees.length}}
                </h1>
                <small> Configure in config.js as Users state. </small>
            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-6">
                        <form action="" class="push-right">
                            <div class="input-group m-b">
                                <div class="input-group-btn dropdown" uib-dropdown="">
                                    

                                    <!-- <select name="mainsource" id="mainsource" class="btn btn-white dropdown-toggle" >
                                        <option value="1">CAM - FR</option>
                                        <option value="2">CAM - EN</option>
                                        <option value="3">Journal du CAMEROUN</option>

                                    </select> -->

                                    <select name="infosource" id="infosource" ng-change="main.updateUserlist()" class="btn btn-white dropdown-toggle" ng-model="main.source" ng-options="project.title for project in main.projects track by project.id"></select>
                                </div>
                                <span class="input-group-addon"> 🔎 </span> 
                                <input class="form-control" ng-model="main.query" type="text" placeholder="Search here ...">
                            </div>
                         
                        
                         </form>
        </div>
    </div>
    

    <div class="row">
            <div class="col-lg-12">
                    <div class="text-center m-t-lg">
                        <h1>
                            Employees list !!! 
                        </h1>

                        <h3>Lastest News count : {{employees.length}} /// {{main.employees.length}}  </h3>
                        <small>Configure in config.js as minor state.</small>
                    </div>
            </div>

            <div class="wrapper wrapper-content  animated fadeInRight blog ">
                    <div class="row">
                        <div class="col-lg-4">

                            <!-- Employee item -->
                            <div ng-repeat="employee in employees | filter:main.query as results track by employee.id"   ng-if="$index % 3 == 0" class="ibox">
                                <div class="ibox-content">
                                    <a ui-sref="app.article" class="btn-link" href="#/app/article">
                                        <a ng-href="article.url">Details</a>
                                        <img alt="image" class="img-circle m-t-xs img-responsive" ng-src="views/avatars/{{employee.Sapno}}.jpg" width="128" height="128" onerror="this.src='views/avatars/default-image.png'"/>
                                        <div class="m-t-xs font-bold">
                                            {{employee.vcfirstname +" "+ employee.vclastname}} -- {{employee.Sapno}} // {{employee.id}}
                                        </div>
                                    </a>
                                    <div class="small m-b-xs">
                                        <strong>{{employee.vcprojectname}}</strong>  <span class="text-muted"><i class="fa fa-clock-o"></i> {{employee.email}}</span>
                                    </div>
                                    <p>
                                        {{employee.jobtitle_id}}
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5>Tags:</h5>
                                            <button class="btn btn-primary btn-xs" type="button">{{employee.Sapno}}</button>
                                            <button class="btn btn-white btn-xs" type="button">Publishing</button>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="small text-right">
                                                <h5>Stats:</h5>
                                                <div> <i class="fa fa-comments-o"> </i> 56 comments </div>
                                                <i class="fa fa-eye"> </i> 144 views
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">

                                <!-- Employee item -->
                                <div ng-repeat="employee in employees | filter:main.query as results track by employee.id"   ng-if="$index % 3 == 1" class="ibox">
                                    <div class="ibox-content">
                                        <a ui-sref="app.article" class="btn-link" href="#/app/article">
                                            <a ng-href="article.url">Details</a>
                                            <img alt="image" class="img-circle m-t-xs img-responsive" ng-src="views/avatars/{{employee.Sapno}}.jpg" width="128" height="128"onerror="this.src='views/avatars/default-image.png'"/>
                                            <div class="m-t-xs font-bold">
                                                {{employee.vcfirstname +" "+ employee.vclastname}} -- {{employee.Sapno}} // {{employee.id}}
                                            </div>
                                        </a>
                                        <div class="small m-b-xs">
                                            <strong>{{employee.project}}</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> {{employee.email}}</span>
                                        </div>
                                        <p>
                                            {{employee.jobtitle_id}}
                                        </p>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5>Tags:</h5>
                                                <button class="btn btn-primary btn-xs" type="button">{{employee.Sapno}}</button>
                                                <button class="btn btn-white btn-xs" type="button">Publishing</button>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="small text-right">
                                                    <h5>Stats:</h5>
                                                    <div> <i class="fa fa-comments-o"> </i> 56 comments </div>
                                                    <i class="fa fa-eye"> </i> 144 views
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">

                                <!-- Employee item -->
                                <div ng-repeat="employee in employees | filter:main.query as results track by employee.id"   ng-if="$index % 3 == 2" class="ibox">
                                    <div class="ibox-content">
                                        <a ui-sref="app.article" class="btn-link" href="#/app/article">
                                            <a ng-href="article.url">Details</a>
                                            <img alt="image" class="img-circle m-t-xs img-responsive" ng-src="views/avatars/{{employee.Sapno}}.jpg" width="128" height="128" onerror="this.src='views/avatars/default-image.png'"/>
                                            <div class="m-t-xs font-bold">
                                                {{employee.vcfirstname +" "+ employee.vclastname}} -- {{employee.Sapno}} // {{employee.id}}
                                            </div>
                                        </a>
                                        <div class="small m-b-xs">
                                            <strong>{{employee.project}}</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> {{employee.email}}</span>
                                        </div>
                                        <p>
                                            {{employee.jobtitle_id}}
                                        </p>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5>Tags:</h5>
                                                <button class="btn btn-primary btn-xs" type="button">{{employee.Sapno}}</button>
                                                <button class="btn btn-white btn-xs" type="button">Publishing</button>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="small text-right">
                                                    <h5>Stats:</h5>
                                                    <div> <i class="fa fa-comments-o"> </i> 56 comments </div>
                                                    <i class="fa fa-eye"> </i> 144 views
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                    </div>
            </div>
    </div>
</div>
